{#Twig template : Exe2Bundle:home #}

{% extends "default/base.html.twig"%}

{% block title %}Symfony: Évaluation : Service d'agenda{% endblock %}
{% block body %}
    <main>
        <h1>Nos événements </h1>
        {% if events|length>=1 %}
            {% for events in listEvents %}
                <div id="event_{{loop.index}}">
                    <h3>{{events.nom}}</h3>
                    <p>
                       Du  {{events.debut|date('d/m/Y')}} <br />
                       Au   {{events.fin|date('d/m/Y')}}
                    </p>
                    <div>
                        <h5>Catégorie: {{events.categories.nom}} </h5>
                        <p>
                        Description: {{events.categories.description}}
                        </p>
                    </div>
                    
                    <div>
                        <img src="{{events.image.url}}" alt="{{events.image.alt}}" title="{{events.image.title}}" />
                        <p>
                            {{events.description}}
                        </p>
                    </div>
                        <div>
                            <h6>Auteur : {{events.user.username}}</h6>
                            <img src="{{events.user.profile_picture}}" alt="" />
                        </div>
                </div>
            {% endfor %} 
        {% endif %}    
    </main>
{% endblock %}