{#Twig template : Exe2Bundle:home #}

{% extends "default/base.html.twig"%}

{% block title %}Symfony: Évaluation : Service d'agenda{% endblock %}
{% block body %}
    <main>
        <h1>Nos événements </h1>
        
                <div id="event">
                    <h3>{{event.nom}}</h3>
                    <p>
                       Du  {{event.debut|date('d/m/Y')}} <br />
                       Au   {{event.fin|date('d/m/Y')}}
                    </p>
                    <div>
                        <h5>Catégorie: {{event.categories.nom}} </h5>
                        <p>
                        Description: {{event.categories.description}}
                        </p>
                    </div>
                    
                    <div>
                        <img src="{{event.image.url}}" alt="{{event.image.alt}}" title="{{event.image.title}}" />
                        <p>
                            {{event.description}}
                        </p>
                    </div>
                        <div>
                            <h6>Auteur : {{event.user.username}}</h6>
                            <img src="{{event.user.profile_picture}}" alt="" />
                        </div>
                </div>
               
    </main>
{% endblock %}